@import "tailwindcss";

body {
  position: relative;
  min-height: 100vh; 
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url("/still-life-books-versus-technology_23-2150063081.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
